body {
    background-color: #fff2e2;
    color: #120a00;
    text-align: center;
    width: 90%;
    margin: auto;
    font-family: 'Oxygen', serif;
    font-size: 1.25rem;
}


#logo {
    width: 85%;
    margin: auto;
    padding-top: .5rem;

}

#webname {
    margin-top: .5rem;
    font-family: 'Oxygen', serif;
    font-size: 1.5rem;
    margin-bottom: 0;
}

header h3 {
    margin-top: .25rem;
    color: #ffd7a6;
    font-size: 1rem;
    padding-bottom: .5rem;
    margin-bottom: 0;
}

header {

    margin: auto;
}

.top {

    background-color: #2b5269;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #ffd7a6;
    text-align: center;

    margin: 0 auto;
    align-items: center;
}


#menubutton {
    font-size: 1.5em;
    background-color: #2b5269;
    color: #ffd7a6;
    border: none;
    text-decoration: none;
    padding: .35rem;
    display: block;
    width: 100%;
    margin: auto;
    font-family: 'Oxygen', serif;
}

#menubutton:hover {
    background-color: #0a2839;
    color: #a5773e;
}

.table {
    display: table;
    margin: 0 auto;
}

nav {
    font-family: 'Oxygen', serif;
    background-color: #2b5269;
    display: block;
    margin: 0 auto;
}

nav li {
    background-color: #2b5269;
}

nav a {
    color: #ffd7a6;
    font-size: 1.5em;
    height: auto;
    display: block;
    text-decoration: none;
    padding: 0.3rem;
    text-align: center;
}

nav a:hover {
    background-color: #0a2839;
    color: #a5773e;
	border-radius: 1rem;
	font-weight: bold;
}

nav ul.hide {
    display: none
}

#navul a.current {
    background: #6d8fa3;
	border-radius: 1rem;
}

#navul {
    margin: auto;
}

ul {
    padding-left: 0px;
    margin-left: 0px;
    list-style-type: none;
}

h2 {
    color: #0a2839;
    border-bottom: .35rem solid #2b5269;
    border-top: .35rem solid #2b5269;
    font-size: 1.5rem;
    display: inline-block;
    padding: .5rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

#calltoaction {
    width: 60%;
    font-size: 1.25rem;
    background-color: #a5773e;
    color: #fff2e2;
    border-radius: 1rem;
    padding: 1rem;
    margin: auto;
    margin-bottom: 2rem;

}

#hometemple {
    padding: 1.5rem;
    align-items: center;
    margin-bottom: 2rem;
    text-align: left;
    background-color: #d4e5ee;
    font-size: 1rem;
}

#homenptemple {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



article {
    background-color: #d4e5ee;
    display: block;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    align-items: center;
    text-align: left;
}

#nptopart,
#crwtopart,
#rextopart,
#pcctopart {
    text-align: center;
    justify-content: center;
}

.temppics {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.templetitle {
    font-size: 1.5rem;
    font-family: 'Oxygen', serif;
    margin-bottom: 1rem;
    text-align: center;
}

.history {
    display: none;
}

#crwarticlewords,
#pccarticlewords {
    line-height: 1.5rem;
    text-align: left;
}

.sumtitle {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: .1rem;
    display: inline-block;
    font-size: 1.1rem;
}

#homeweathersum {
    border: .3rem dashed purple;
    text-align: center;
    padding: .5rem;
    margin: auto;
    font-size: 1rem;
}

.weathersum {
    display: none;
}


h4 {
    margin-top: .5rem;
    margin-bottom: 0;
    display: inline-block;
}

#npclosuresched,
#crwclosuresched,
#rexclosuresched,
#pcclosuresched {
    margin-top: .1rem;
    margin-bottom: 0;
}

#npsched,
#crwsched,
#rexsched,
#pccsched {
    margin-top: .1rem;
    margin-bottom: 0;
}

#contactbox {
    color: #ffd7a6;
    background-color: #2b5269;
    padding: .5rem;
    font-size: 1rem;
    margin-top: 1rem;
    clear: both;
}

#copywrite {
    font-size: .75rem;
}

#copywrite a {
    text-decoration: none;
	font-style: italic;
    color: #120a00;
}

#copywrite a:hover {
    color: black;
	font-weight: bold;
}

#inputtext {
    padding: .5rem;
    text-align: left;
    align-content: center;
    display: flex;
    margin: auto;

    background-color: #6d8fa3;
    color: #120a00;
    font-weight: bold;
    font-size: 1rem;
    border-radius: .75rem;
}

input#submit {
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: #a5773e;
	border-radius: 2rem;
    color: white;
    font-weight: bold;
    box-shadow: 0.35rem 0.35rem 0.25rem gray;
    margin: 1rem;
    text-align: center;
}

input.textinput {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    width: 90%;
}

fieldset {
    border: none;
}

legend {
    font-size: 2rem;
    color: #0a2839;
    border-bottom: 0.25rem solid #0a2839;
    text-align: center;
    margin-bottom: .5rem;
}

input {
    padding: 0.25rem;
}

textarea {
    margin: 0.25rem;
    width: 90%;
}

h5 {
    margin-bottom: 1rem;
    margin-top: 0;
    font-size: 1rem;
}

#mapandtitle {
    background-color: #6d8fa3;
    border-radius: .75rem;
    padding: 1rem;
    display: inline-block;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#embedmap {
    width: 100%;
    height: auto;
}

#receptionbutton,
#missionbutton {
    margin: auto;
    width: 50%;
    background-color: #6d8fa3;
    color: white;
    display: block;
    font-size: 1.5rem;
    padding: 2rem;
    box-shadow: .5rem .5rem .5rem #0a2839;
    border-radius: .75rem;
    margin-bottom: 2rem;

}

#amenities h3 {
    text-align: center;
    border-bottom: .25rem solid black;
    display: inline-block;
    font-size: 1.25rem;
    margin-bottom: 0;
    margin-top: 0;
}

#amenities ul {
    margin-top: .25rem;
}

#amenities {
    margin-bottom: 1.5rem;
    text-align: left;
    font-size: 1rem;
}

.serveheading {
    border: none;
    border-bottom: .25rem solid #0a2839;
    font-size: 1.5rem;
    margin-top: 0;

}

#mishlist,
#reclist {
    font-size: 1rem;
    text-align: center;
    width: 85%;
    margin: auto;
}

#mishlist li,
#reclist li {
    margin: .5rem;
}


#galtitle {
    display: inline-block;
    padding: .5rem;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    border-bottom: .25rem solid #0a2839;
    border-top: .25rem solid #0a2839;
}

#galpics {
    justify-content: center;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1rem;
}


#pic1 img:hover,
#pic2 img:hover,
#pic3 img:hover,
#pic4 img:hover,
#pic5 img:hover,
#pic6 img:hover,
#pic7 img:hover,
#pic8 img:hover {
    box-shadow: .5rem .5rem .5rem #59360c;
}

#pic1 p,
#pic2 p,
#pic3 p,
#pic4 p,
#pic5 p,
#pic6 p,
#pic7 p,
#pic8 p {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

#pic1 img,
#pic2 img,
#pic3 img,
#pic4 img,
#pic5 img,
#pic6 img,
#pic7 img,
#pic8 img {
    width: 100%;
    display: inline-block;
    border-bottom: 0.35rem solid white;
    margin-bottom: 0.25rem;
}

#pic1,
#pic2,
#pic3,
#pic4,
#pic5,
#pic6,
#pic7,
#pic8 {
    width: 100%;
    background-color: #6d8fa3;
    color: white;
    font-size: 1rem;
    text-align: center;
    margin: .5rem;
    justify-content: center;
    padding: .75rem;
    border-radius: .5rem;
}
