#logo {
  width: 25%;
  height: auto;
  float: left;
  padding: .5rem;
}

.top {
  width: 100%;
  background-color: #0a3c20;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
}

#titlemotto {
  width: 75%;
  float: right;
}

#motto {
  margin-top: -5px;
  padding-bottom: 10px;
}

#webname {
  color: #f4fbeb;
  padding-top: 10px;
  letter-spacing: 1px;
}

#menubutton {
  font-size: 2em;
  background-color: #0a3c20;
  color: #aa6d5d;
  border: none;
  text-decoration: none;
  padding: .25rem;
  display: block;
  width: 100%;
  margin: auto;
  font-family: "Merriweather",
    sans-serif;
}

#menubutton:hover {
  background-color: #aa6d5d;
  color: white;
}

nav {
  display: block;
}

nav ul.hide {
  display: none;
}

#navul a {
  color: #aa6d5d;
  font-size: 1.5em;
  height: auto;
  display: -inline-block;
  text-decoration: none;
  padding: .25rem;
  text-align: center;
  background-color: #0a3c20;
  font-family: "Merriweather",
    sans-serif;
}

#navul li {
  padding: .5rem;
}

#navul a:hover {
  background-color: #aa6d5d;
  color: white;
}

#navul a.current {
  background: #2c5d42;
  color: white;
}

ul {
  padding-left: 0px;
  margin-left: 0px;
  list-style-type: none;
}

#home,
#stormcenter,
#gallery,
#preston {
  border: thick solid #0a3c20;
  border-radius: 3rem;
  padding: .4rem;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0a3c20;
  text-align: center;
}

h2,
h1,
h3 {
  font-family: "Merriweather", sans-serif;
  text-align: center;
}

main {
  overflow: visible;
  position: relative;
}


#picwithcap1,
#picwithcap2,
#picwithcap3,
#picwithcap4,
#picwithcap5,
#picwithcap6 {
  background-color: #1a5232;
  color: white;
  font-size: 1rem;
  text-align: center;
  padding: .35rem;
  margin: 0;
  justify-content: center;
}

#galpics {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  padding: .5rem;
  justify-content: center;
}

section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

}

#picwithcap1 img,
#picwithcap2 img,
#picwithcap3 img,
#picwithcap4 img,
#picwithcap5 img,
#picwithcap6 img {
  border-bottom: .25rem solid #834c3e;
  margin-bottom: .25rem;
}

#summarytitle {
  color: #0a3c20;
  font-weight: bold;
  font-size: 1.1rem;
}

#weathersummary {

  position: relative;
  display: inline-block;
  display: -webkit-flex;

}

#summarybox {
  padding: .5rem;
  background-color: #aa6d5d;
  width: 40%;
  z-index: 2;
  left: 1rem;
  position: absolute;
  border-radius: 2rem;
}

#summarybox p {
  text-align: left;
  font-size: .75rem;
}

#sumwords {
  text-align: center;
  display: block;
  color: white;
  font-family: "Merriweather", sans-serif;
}

#currenttemp {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

#windspeed {
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: .3rem;
}

#windchill {
  font-size: 1rem;
}

#sunnyid {
  margin: auto;
  z-index: 1;
  position: relative;
  top: 1rem;
}

article {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 7fr;
  background-color: #cbd8d0;
  border: 0.2rem solid #1a5232;
  padding: 1rem;
  z-index: 0;
  position: relative;
  margin-top: 4rem;


}

#articlewords {
  grid-row: 2/7;
}

#frogphoto {
  grid-row: 1;
  width: 75%;
  height: auto;

}

#contactbox {
  background-color: #42795a;
  border: 0.2rem solid #1a5232;
  color: white;
  position: relative;
}

#map {
  width: 15rem;
  height: auto;
  margin: auto;
  padding-bottom: 2rem;
}

#events {
  margin-top: 1rem;
}

body {
  font-family: "Georgia", serif;
  background-color: #619176;
  text-align: center;
}

#copywrite {
  display: inline;
}

img {
  max-width: 100%;
  text-align: center;
}

#socialmedia {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

#contactinfo {
  padding-top: 1rem;
}

#footerbar {
  position: relative;
}

#currentdate {
  padding-bottom: .5rem;
  font-weight: bold;
}

#facebook,
#youtube,
#twitter {
  float: left;
  width: 2rem;
  height: auto;
  margin: .5rem;
}

#forcast {
  display: none;
}

#formstorming {
  text-align: left;
  align-content: center;
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  background-color: #cb9688;
  font-weight: bold;
  font-size: 1.5rem;
  border: .5rem solid #834c3e;
}

#inputtext {
  grid-column: 1;
  padding: 1rem;
}

#stormdescript {
  grid-column: 2;
  padding: 1rem;
}

#rangeValue {
  text-align: center;
}

#coms {
  margin-top: 1.5rem;
  grid-column: 1;


}

input#submit {
  font-size: 2rem;
  padding: .5rem;
  background-color: #cb9688;
  color: #743524;
  margin: 1rem;
}

.stormsevreg {
  margin: .5rem;
}

input.textinput {
  margin: .5rem;
}

fieldset {
  border: none;
  padding: 1rem;
}

legend {
    font-size: 2rem;
	font-weight: bold;
    color: black;
    border-bottom: .25rem solid #834c3e;
}

input {
  padding: .25rem;
}

textarea {
  margin: .25rem;
}

input[type=range] {
  width: 18rem;
}

#mainthanks {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background-color: #cb9688;
  border: .5rem solid #834c3e;
  border-radius: 1rem;
  display: inline-block;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#mainthanks h2 {
  color: #743524;
}

#towninfo {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1rem;
  margin: auto;
  margin-bottom: 1.5rem;
  width: 80%;

}

#towninfo article {
  display: block;
  margin-top: 1rem;
}

#towninfo p {
  color: black;
  padding: 0;
}

#towninfo h3 {
  margin-top: .5rem;
  font-size: 1.5rem;
  border-bottom: .25rem dashed #cb904d;
  display: inline-block;
  padding-bottom: .2rem;
  margin-bottom: 1rem;
}

#towninfo article img {
  height: 8rem;
  width: 20rem;

}

#home {
  margin-bottom: .5rem;
}
