header {
	background-color: #619176;
}

header img, .headings {
	display: inline-block;
	margin: 10px;
}

body {
        font-family: 'Source Sans Pro', sans-serif;
}

nav {
	background-color: #1A5232;
	
}